.card {
    display: flex;
    flex-direction: column;
    border-radius: px;
    width: 280px;
    height: 145px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primary-color);
    height: 60%;
}

.heading h1 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.heading p {
    font-family: var(--secodary-font);
    font-size: 1rem;
    padding-left: 0.5rem;
}


.baseboard {
    display: flex;
    background-color: var(--sc-bg-color);
    height: 40%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}
